[submodule "NgBabelJspm"]
	path = NgBabelJspm
	url = https://github.com/chybie/NgBabelJspm.git
[submodule "node-tutorial-2-restful-app"]
	path = node-tutorial-2-restful-app
	url = https://github.com/cwbuecheler/node-tutorial-2-restful-app.git
[submodule "babel-npm-module-example"]
	path = babel-npm-module-example
	url = https://github.com/anvk/babel-npm-module-example.git
[submodule "sailsTest"]
	path = sailsTest
	url = https://github.com/AbhishekDutt/sailsTest.git
[submodule "activityoverlord20"]
	path = activityoverlord20
	url = https://github.com/irlnathan/activityoverlord20.git
[submodule "angular-sailsjs-boilerplate"]
	path = angular-sailsjs-boilerplate
	url = https://github.com/tarlepp/angular-sailsjs-boilerplate.git
[submodule "sails-angular-jwt-example"]
	path = sails-angular-jwt-example
	url = https://github.com/Foxandxss/sails-angular-jwt-example.git
