[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
ipython = "*"
lxml = "*"
requests = "*"
"bs4" = "*"
tushare = "*"
matplotlib = "*"
ipykernel = "*"

[dev-packages]
