<form action="wines" method="post" class="form-horizontal col-sm-8" role="form">
    <div class="form-group">
        <label for="wineId" class="col-sm-2 control-label">Id:</label>
        <div class="col-sm-4">
            <input id="wineId" name="id" type="text" class="form-control" value disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="wineId" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-4">
            <input id="name" name="name" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="grapes" class="col-sm-2 control-label">Grapes:</label>
        <div class="col-sm-4">
            <input id="grapes" name="grapes" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-sm-2 control-label">Country:</label>
        <div class="col-sm-4">
            <input id="country" name="country" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="region" class="col-sm-2 control-label">Region:</label>
        <div class="col-sm-4">
            <input id="region" name="region" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="year" class="col-sm-2 control-label">Year:</label>
        <div class="col-sm-4">
            <input id="year" name="year" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Notes:</label>
        <div class="col-sm-6">
            <textarea id="name" name="description" type="text" class="form-control" rows="6"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary save">Save</button>
            <button type="submit" class="btn btn-default delete">Delete</button>
        </div>
    </div>
</form>
