{
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "quotes": [
      1,
      "single",
      "avoid-escape"
    ],
    "no-shadow": 0,
    "no-underscore-dangle": 0
  }
}